Checks: >
  -*,
  bugprone-*,
  cert-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-raw-string-literal,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-braces-around-statements,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-casting-through-void,
  -bugprone-unchecked-optional-access,
  -bugprone-implicit-widening-of-multiplication-result,
  -cert-err33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  -performance-enum-size,

WarningsAsErrors: ''

HeaderFilterRegex: '(src|include)/.*\.hpp$'
